.navbar-minautor {
  border: solid 2px;
  border-color: #f5f5dc !important;
}

.rotate-icon-loandig {
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
